<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이름과 생년월일을 입력하세요!</h1>
    <form action="{% url 'welcome_app:welcome' %}" method="GET">
    <input type="text" name="name" placeholder="이름을 입력하세요" required />
    <br />
    <input type="number" name="year" placeholder="년" required />년
    <input type="number" name="month" placeholder="월" required />월
    <input type="number" name="day" placeholder="일" required />일
    <br /><br />
    <button type = "submit">제출</button>
</body>
</html>